:root {
  --white: rgba(255, 255, 255, 1);
  --gray: rgba(18, 18, 18, 1);
  --red: rgba(190, 39, 15);
  --black: rgba(18, 18, 18, 1);
  --opacBlack: rgba(18, 18, 18, 0.5);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

.large-font { font-size: 3.5em; }
.medium-font { font-size: 2em; }
.normal-font { font-size: 1.5em; }
.red-text { color: var(--red); }

body {
  font-family: 'Noto Serif JP', 'Sans-Serif';
  text-align: center;
  color: var(--white);
  background-color: var(--gray);

}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  min-height: 100vh;
}

#opening-animation-container {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: inherit;
}

#song-name-area { width: fit-content; }

#song-name {
  overflow: hidden;

  width: 0%;

  white-space: nowrap;
  letter-spacing: 0.5em;
  font-weight: lighter;

  border-right: thin solid var(--red);
  animation:
  blinking 0.3s step-end 6 alternate,
  typing 0.75s 1.5s steps(7) forwards,
  blinking 0.3s 2.25s step-end infinite alternate;
}

#down-arrow-area {
  position: relative;
  flex: 0 0 30%;

  top: -0.5em;

  opacity: 0;

  animation:
  fade-in 4s 2.5s forwards,
  floating infinite 2s ease-in-out alternate;
}

#down-arrow {
  position: relative;
  top: 20em;
  height: 50px;
  width: 50px;
}

#lyric-container {
  position: relative;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5em;

  min-height: 100vh;
  width: 100%;
  padding: 5em 0;

  background: url(/img/bg.png);
}

#lyric-container::before {
  content: "";
  position: absolute;

  top: -10px;
  left: -10px;
  height: 10%;
  width: 100%;

  background: linear-gradient(to top, rgba(0, 0, 0, 0), var(--gray) 100%);
}

#lyric-container::after {
  content: "";
  position: absolute;

  bottom: -10px;
  left: -10px;
  height: 10%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--gray) 100%);
}

#lyric-container > h2 { margin-top: 15em; }

#lyric-area {
  display: inherit;
  flex-direction: column;
  align-items: center;
  row-gap: 7em;

  margin: 7em 0 10em 0;
  min-height: 50vh;

  line-height: 4em;
}

/* Animation Area */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes floating {
  50% {
    top: 0.5em;
  }
}

@keyframes typing { /* Width of text is 0. It The animation will take 7 steps (7 char) to go from width 0 to 100% */
    to {
      width: 100%;
    }
}

@keyframes blinking { /* Half the time invisible, have the time not */
  50% {
    border-color: transparent;
  }
}